.value-container{
    padding: 100px 15vw;
    display: flex;
    flex-direction: row;
    gap: 10%;
    justify-content: space-between;
}
.info{
    width: 70%;
}
.info h1{
    font-size: 50px;
    font-weight: 500;
    margin-bottom: 3%;
}
.info p{
    margin-bottom: 5%;
}
.cards{
    display: flex;
    flex-direction: row;
    width: 120%;
    flex-wrap: wrap;
    justify-content: flex-end;
    gap: 5%;
    align-items: flex-end;
}
.style-card{
    display: flex;
    width: 320px;
    padding: 21px;
    align-items: center;
    gap: 17px;
    border-radius: 10px;
    margin-bottom: 3%;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.style-card svg{
    width: 48px;
    height: 48px;
}
.btn-terms{
    margin-left: 40%;
}

@media screen and (min-width: 1400px) {
    .value-container{
        padding: 100px 15vw !important;
    }
}

@media screen and (max-width: 950px){
    .value-container{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center
    }
    .cards{
        display: flex;
        flex-direction: row;
    }
    .style-card{
        margin-top: 5%;
    }
    .btn-terms{
        margin-left: 15%;
    }
}

@media screen and (max-width:450px){
    .value-container{
        padding: 50px 5vw;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .cards{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        align-content: center;
        margin-top: 6%;
    }
    .info{
        width: 100%;
    }
    .info h1{
        font-size: 40px;
        font-weight: 500;
        margin-bottom: 3%;
    }
    .btn-terms{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 0 auto;
    }
}

/* @media screen and (min-width: 1400px)
@media screen and (max-width: 950px)
@media screen and (max-width:550px)
@media screen and (max-width:450px) */