.value-container{
    padding: 100px 15vw;
    display: flex;
    flex-direction: row;
    gap: 10%;
    justify-content: space-between;
}
.info{
    width: 70%;
}
.info h1{
    font-size: 50px;
    font-weight: 500;
    margin-bottom: 3%;
}
.info p{
    margin-bottom: 5%;
}
.btn-refer{
    font-size: 20px;
    cursor: pointer;
}
.btn-refer svg path{
    color: white;
}
.cards{
    display: flex;
    flex-direction: row;
    /* width: 120%; */
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 5%;
   /*  align-items: flex-end; */
    width: 1080px;
}
.style-card{
    display: flex;
    flex-basis: 45%;
    padding: 21px;
    align-items: center;
    gap: 17px;
    border-radius: 10px;
    margin-bottom: 3%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
}

.style-card:nth-child(2){
    position: relative;
    top: 20px;
}

.style-card:nth-child(4){
    position: relative;
    top: 20px
}

.style-card h2{
    font-size: 20px;
}

.style-card>div{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.style-card>div>p{
    font-size: 16px;
    width: 100%;
}

.style-card svg{
    width: 48px;
    height: 48px;
}

.style-card svg path{
    color: var(--primary-color);
}

.container-btn-temrs{
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-terms{
    background: #F0F5FF;
    cursor: pointer;
}

@media screen and (min-width: 1400px) {
    .value-container{
        padding: 100px 15vw !important;
    }
}

@media screen and (max-width: 950px){
    .value-container{
        padding: 50px 5vw;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center
    }
    .cards{
        display: flex;
        flex-direction: row;
    }
    .style-card{
        margin-top: 5%;
    }
    .info{
        width: 100%;
    }
}

@media screen and (max-width:450px){
    .value-container{
        padding: 50px 5vw;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .cards{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        align-content: center;
        margin-top: 6%;
    }
    .info{
        width: 100%;
    }
    .info h1{
        font-size: 40px;
        font-weight: 500;
        margin-bottom: 3%;
    }
}

/* @media screen and (min-width: 1400px)
@media screen and (max-width: 950px)
@media screen and (max-width:550px)
@media screen and (max-width:450px) */