
@media screen and (min-width: 1400px) {
    .hero-container{
        padding: 100px 15vw !important;
    }
}
.hero-container{
    /* background-color: var(--background-color); */
    padding: 100px 5vw;

}

.hero{
    display: flex;
    justify-content:space-between;
    align-items: center;
    gap: 10%;
}

.hero .hero-info{
    width: 450px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.animated-title{
    color: var(--primary-color);
}

.hero .hero-info h1{
    font-size: 70px;
    font-weight: 500;
}

.hero .hero-info h1 strong{
    color: var(--primary-color);
}
.info-container{
    position: relative;
    display: flex;
    flex-direction: column;
}
.info-container h2{
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    font-size: 32px;
    font-weight: 500;
}

.info-list{
    display: flex;
    justify-content: space-between;
}

.info-list .info-card{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 220px;
}

.info-card .info-icon{
    font-size: 34px;
}

.info-card .info-icon path{
    color: var(--primary-color);
   
}

.backgroundDecorationInfo{
    position: absolute;
    right: 0;
    background-color: #24955722;
    width: 50%;
    border-radius: 50%;
    height: 100%;
    box-shadow: 0 0 30px 30px #24955722;
}

.mq-title-wrap{
    display: none;
}

.typewriter {
    display: inline-block;
    position: relative;
  }
  
  .cursor::after {
    content: '|'; /* El carácter que simula la barra de escritura */
    display: inline-block;
    width: 0; /* Inicialmente no se muestra */
    animation: blink-caret 0.75s step-end infinite; /* Animación de parpadeo */
  }
  
  @keyframes blink-caret {
    50% {

    }
  }

/* 
@media screen and (max-width: 100px){ */

@media screen and (max-width: 900px){
    .hero-container .hero{
        display: flex;
        flex-direction: column;
    }
    .hero .hero-img{
        order: 1;
    }
    .hero .hero-info{
        width: 100%;
        order: 2;
    }
    .hero .hero-info h1 br{
        display: none;
    }
    .hero .hero-info h1{
        font-size: 40px;
        text-align: center;
    }
    .hero-container{
        padding-top: 50px;
    }
    .hero .hero-info h1 .mq-title-wrap{
        display: block;
    }
    .info-list{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

    }
    .info-list .info-card{
        flex-basis: 50%;
        margin-bottom: 10px;
    }
    .hero-img{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .hero-img img{
        width: 45%;
    }
}

@media screen and (max-width: 700px){
    .hero-img img{
        width: 65%;
    }
    .hero-container{
        padding-bottom: 50px;
    }
}


@media screen and (max-width: 500px){
    .hero-img img{
        width: 85%;
    }
    .hero .hero-info h1{
        font-size: 30px;
    }
    .hero-container .info-container .info-list{
        flex-direction: column;
        gap: 20px;
    }
    .hero-container .info-container .info-list .info-card{
        flex-basis: 100%;
        width: 100%;
    }
    .hero-container .info-container .info-list .info-card .info-icon{
        margin: auto;
    }
    .hero-container .info-container .info-list .info-card{
        text-align: center;
    }
    .info-card .info-icon{
        font-size: 40px;
    }
}

@media screen and (max-width: 400px){
    .hero-img img{
        width: 95%;
    }
    
}

/* HERO POINTS */
.info-icon{
    width: 24px;
    height: 24px;
    color: var(--primary-color);
}
.info-cards-points{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
}
.card-points{
    width: 270px;
    padding: 24px;
}
.stain-hero-points-svg{
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
}

.hero-img-points{
    position: absolute;
    top: 20%;
    right: 0;
    z-index: 0;
}

.divisor{
    height: 80vh;
}

.line-background-points{
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}

.hero-points span{
    padding: 1% 2%;
    border-radius: 71px;
    background-color: #D3EADD;
    font-weight: 500;
}

.hero-points h1{
    font-size: 70px;
    font-weight: 500;
    margin-top: 3%;
}

.hero-points {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
    gap: 32px;
    width: 54%;
}

.btn-score-points{
    border-radius: 15px;
    background-color: #D3EADD;
    color: var(--primary-color);
    border: none;
    width: 120%;
    text-align: center;
}

.hero-buttons {
    display: flex;
    align-items: flex-end;
    width: 100%;
    gap: 32px;
}

.hero-info p{
    font-size: 20px;
    margin-top: 2%;
}

.how-do-add-points{
    margin-top:25%;
    display: flex;
    gap: 10%;
    align-items: center;
}

.how-do-add-points h1{
    font-size: 50px;
    font-weight: 500;
}

.how-do-add-points p {
    margin-top: 5%;
    margin-bottom: 5%;
}

.how-do-add-points .info-list{
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    flex-direction: column;
}
.background-icon{
    width: 46px;
    height: 46px;
    border-radius: 6px;
    background: #F0F5FF;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5%;
}
.text-add{
    width: 80%;
}


@media screen and (max-width: 450px){
    .hero-container{
        margin-top: 13%;
    }
    .line-background-points{display: none;}
    .stain-hero-points-svg{display: none;}
    .hero-img-points{
        background: cover fixed no-repeat;
        color: var(--primary-color) ;
        position: absolute;
        z-index: -1;
        height: 80vh;
        top: 70px;
        /* TO DO: FALTA OPACIDAD */
    }
    .hero-points{
        width: 100%;
    }
    .text-info{
        z-index: 1;
        color: white;
        margin-top: 2%;
    }
    .hero-points h1{
        font-size: 45px;
    }
    .hero-buttons{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .how-do-add-points{
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
    }
    .text-add{
        width: 100%;
    }
    .text-add h1{
        font-size: 40px;
    }
    .info-cards-points{
        margin-top: 10%;
        justify-content: flex-start;
        width: 100%;
    }
    .card-points{
        width: 100%;
        padding: 10px;
    }
    .btn{
        width: 100%;
    }
}

/* Hero assist */

.stain-hero-assist-svg{
    position: absolute;
    top: 20vh;
    right: 5vw;
    z-index: 1;
}

.hero-assist-h1{
    font-size: 70px;
    font-weight: 500;
    margin-top: 3%;
}

.primary-text{
    color: var(--primary-color);
}   

.hero-info p{
    border-left: 5px solid var(--primary-color);
    padding: 15px;
}

.services-assist-list{
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.services-assist-list h3{
    color: var(--primary-color);
    display: flex;
    align-items: center;
    gap: 10px;
}

.services-assist-list h3 .rect{
    background-color: var(--primary-color);
    height: 2px;
    width: 10px;
}

.services-assist-list .servicesContainer{
    justify-content: flex-start;
}


/* Suggestions Hero */


.email-info{
    display: flex;
    gap: 15px;
}

.email-info .email-circle{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: #E6E6E6;

    display: flex;
    justify-content: center;
    align-items: center;
}

.email-info .email-circle svg {
    font-size: 24px;
}

.email-info .email-circle svg path{
    color: var(--primary-color);

}

.email-info .email-info-content{
    display: flex;
    flex-direction: column;
    gap:6px;
}

.email-info .email-info-content h4{
    color: #838383;
    font-weight: 400;
}

.email-info .email-info-content span{
    font-size: 18px;
    font-weight: 700;
}

.social-media-list{
    display: flex;
    flex-direction: column;
    gap: 10px
}

.social-media-list-title{
    display: flex;
    gap: 10px;
    align-items: center;
}
.social-media-list-title .rect{
    width: 25px;
    background-color: var(--text-color);
    height: 2px;
}

.social-media-list-title h4{
    font-size: 12px;
    font-weight: 500;
}
.social-media-list .social-media-container{
    display: flex;
    gap: 5px;
}
.social-media-list .social-media-container a{
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: var(--primary-color-10);

}

.social-media-list .social-media-container a svg path{
    color: var(--primary-color);
}


/* Lend */

.hero-info-lend{
    display: flex;
    gap: 35px;
    flex-direction: column;
}

.hero-container-personal-lend{
    width: 100%;
}

.hero-container-type-2{
    display: flex;

}

.hero-content-left{
    flex: 1.2;
    padding-left: 5vw;
    height: calc(100vh - 100px);
    display: flex;
    align-items: center;
}

.hero-content-rigth{
 
    background-color: var(--primary-color);
    height: calc(100vh - 100px);
    width: 650px;
    padding-right: 5vw;
    display: flex;
    gap: 24px;
    padding-left: 5vw;
    flex-direction: column;
    justify-content: center;
}

.hero-content-rigth h1{
    color: white;
    font-size: 64px;
    font-weight: 700;
    margin-bottom: 24px;
}

.hero-content-rigth p{
    color: white;
    font-size: 24px;
    margin-bottom: 24px;
}

.hero-content-rigth .secondary-btn{
    border: white 1px solid;
    padding: 12px 24px;
    background-color: transparent;
    color: white;
    border-radius: 15px;
}

/* .hero-content-rigth-description{
    display: ;
}
 */

@media screen and (max-width: 1400px) {
    .hero-container{
        padding-top: 0vh;
    }

    .hero-container-personal-lend{
        width: 70%;
    }
}