.shape{
    position: absolute;
    right: 3px;
    z-index: -1;
    width: 35%;
}
.redeem-container{
    padding: 100px 5vw;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.info-card{
    display: flex;
    width: 310px;
    padding: 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
    border-radius: 12px;
    border-top: 3px solid var(--primary-color);
    background: #ffffff;
    box-shadow: 3px 3px 5px 0px rgba(23, 148, 79, 0.25);
}
.exchange{
    justify-content: space-between;
    gap: 15%;
}
.exchange h1{
    font-size: 50px;
    font-weight: 500;
}
.exchange-cards{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    gap: 10%;
}
.restrictions{
    margin-top: 5%;
    flex-direction: column;
}

.restrictions h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 3%;
}

.restrictions-cards{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.background-icon-redeem{
    width: 48px;
    height: 48px;
    border: 3px solid var(--primary-color);
    padding: 10px; 
    display: inline-block;
    flex-shrink: 0; 
    border-radius: 15px;
    opacity: 0.5;
}
.icon{
    width: 24px;
    height: 24px;
}
@media screen and (min-width: 1400px) {
    .redeem-container{
        padding: 100px 15vw !important;
    }
    .info-card{
        width: 310px !important;
    }
}

@media screen and (max-width: 450px){
    .shape{
        display: none;
    }
    .redeem-container{
        padding: 50px 5vw;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start
    }
    .exchange h1{
        font-size: 30px;
        width: 100%;
    }
    .info-card{
        margin-top: 5%;
        width: calc(50% - 20px);
    }
    .exchange-cards{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        flex-wrap: nowrap;
    }
    .restrictions-cards{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        gap: 10%;
    }
}