.shape {
    position: absolute;
    right: 3px;
    z-index: -1;
    width: 35%;
}
  
.redeem-container {
    padding: 100px 5vw;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.exchange {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    gap: 10%;
}

.exchange h1 {
    font-size: 50px;
    font-weight: 500;
    width: 40%;
}
 
.exchange-cards{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    gap: 10%;
    width: 60%;
}
.restrictions {
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
}

.restrictions h2 {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 3%;
}

.info-card-exc {
    display: flex;
    width: 310px;
    padding: 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
    border-radius: 12px;
    border-top: 3px solid var(--primary-color);
    background: #ffffff;
    box-shadow: 3px 3px 5px 0px rgba(23, 148, 79, 0.25);
}
  
.restrictions-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    gap: 4%;
}
  
.background-icon-redeem {
    width: 48px;
    height: 48px;
    border: 3px solid var(--primary-color);
    padding: 10px;
    display: inline-block;
    flex-shrink: 0;
    border-radius: 15px;
    opacity: 0.5;
}

.icon {
    width: 24px;
    height: 24px;
}

@media screen and (min-width: 1400px) {
    .redeem-container {
        padding: 100px 15vw;
    }
    .exchange-cards .info-card-exc {
    width: calc(50% - 10px);
    }
    .restrictions-cards .info-card-exc{
        width: calc(25% - 10px);
    }
}
  
@media screen and (max-width: 450px) {
    .shape {
        display: none;
    }

    .redeem-container {
        padding: 50px 5vw;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    .exchange{
        flex-wrap: wrap;
    }
    .exchange h1 {
        font-size: 35px;
        width: 50%;
    }
    .exchange-cards .info-card-exc{
        margin-top: 5%;
    }
    .restrictions-cards{
        flex-wrap: wrap;
    }
    .restrictions-cards .info-card-exc {
        margin-top: 5%;
        width: calc(50% - 10px);
    }
}
  