.use-container{
    padding: 100px 5vw;
    display: flex;
    justify-content: space-around;
    gap: 10%;
}
.use-container h1{
    font-size: 50px;
    font-weight: 500;
}
.cards-container-use{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.divider{
    width: 500px;
    height: 2px;
    opacity: 0.12;
    background: #303030;
    margin-top: 3%;
    margin-bottom: 3%;
    justify-content: flex-start;
}
.use-info{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 5%;
    margin-bottom: 5%;
}
.use-info h2{
    margin-left: 3%;
}
.use-info p{
    margin-left: 8%;
}
.use-info svg{
    width: 40px;
    height: 40px;
}
.use-info svg path{
    color: var(--primary-color);
}
.img-container{
    width: 100%;
}


@media screen and (min-width: 1400px){
    .use-container {
        padding: 100px 15vw !important;
    }
}

@media screen and (max-width: 950px){
    .use-container{
        display: flex;
        flex-wrap: wrap;
    }
    .use-container h1{
        font-size: 40px;
        font-weight: 500;
    }
    .use-info p {
        margin-left: 5%;
    }
    .use-img-points{
        display: none;
    }
}

@media screen and (max-width:550px){
    .use-container{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        flex-direction: row;
    }
    .use-container h1{
        font-size: 30px;
        font-weight: 500;
        display: flex;
    }
    .use-info p {
        margin-left: 9%;
        font-size: 18px;
    }
    .use-img-points{
        margin-top: 5%;
    }
}

@media screen and (max-width:450px){
    .use-container{
        justify-content: center;
        flex-wrap: wrap;
        flex-direction: row;
        margin-top: 0%;
        padding-top: 20px;
    }
    .use-img-points{
        display: none;
    }
    .divider{
        width: 350px;
    }
    .cards-container-use{
        margin-top: 3% ;
    }
    .use-info h2{
        font-size: 20px;
    }
    .use-info p{
        font-size: 16px;
        margin-left: 11%;
    }
}
