.header-type-2{
    display: flex;
    align-items: center;
    height: 100px;
    padding: 0vh 0vw;
    position: sticky;
    top: 0;
    z-index: 100;
}

.header-type-2 div{
    flex: 1;
    display: flex;
    justify-content: center;
    background-color: white;
    align-items: center;
    height: 100px;
}


.header-type-2 nav{
    width: 650px;
    /* flex: 1; */
    display: flex;
    justify-content: space-between;
    padding-left: 5vw;
    padding-right: 5vw;
    background-color: var(--primary-color);
    height: 100px;
    align-items: center;
}


.header-type-2 nav a{
    color: white;
    font-weight: 400;
}