.form-template{
    position: absolute;
    z-index:  1;
    background-color: white;
    box-shadow: -20px 15.99989px 71.99953px 0px rgba(60, 143, 124, 0.15), 0 0 0 20px rgba(255, 255, 255, 0.10);
    right: 5vw;
    top: 22vh;
    width: 650px;
    border-radius: 20px;
    padding: 48px;
    gap: 20px;
    display: flex;
    flex-direction: column;
}

.form-template h2{
    font-size: 28px;
    font-weight: 700;
}

.form-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: space-between;

}

/* @media screen and (max-width: 1500px)  {
    
.form-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: space-between;
    margin-top: 200px;
}
} */
.form-container .input-container{
    width: 45%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    text-align: left;

}

.form-container .input-container input, .form-container .input-container select, .form-container .input-container textarea{
    padding: 18px 12px;
    border-radius: 18px;
    border:  1px solid  #B7B7B7;
    resize: none;
    width: 100%;
}

.form-container .input-container input::placeholder{
    font-size: 16px;
    font-weight: 500;
}

select{
    font-size: 16px;
    font-weight: 500;
    outline: none;
    color:#757575;
}

option{
    color: #757575;
}

textarea::placeholder{
    font-size: 16px;
    font-weight: 500;
}
.input-container .work-with-us-textarea{
    height: 200px;
}
.form-container .input-container-100{
    width: 100%;
    text-align: left;
}



.submit button{
    background-color: var(--primary-color);
    border: none;
    padding: 10px 33px;
    border-radius: 15px;
    font-size: 20px;
    color: white;
    display: flex;
    align-items: center;
    gap: 15px;
    cursor: pointer;
}

.submit button svg path{
    color: orkhite;
}

.form-template{

    position: static;

}

.form-container-type-2{
    position: static;
}

.dropzone-container .dropzone p{
    color: var(--text-color);
    text-align: center;
} 

.dropzone{
    width: 100%;
    border: var(--text-color)  2px dashed;
    padding: 20px 10px;
    border-radius: 10px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dropzone-delete-container{
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.dropzone svg path, .dropzone-delete-container svg path{
    color: var(--primary-color);
    
}

.dropzone svg, .dropzone-delete-container svg{
    font-size: 34px;
    margin-top: 2%
}


.quejas-sugerencias{
    border-radius: 20px;
    padding: 48px;
    gap: 20px;
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
}

.circle-item{
    width: 7px;
    height: 7px;
    background-color: var(--primary-color);
    border-radius: 100%;
    display: block;
    position: relative;
    top: 3px;
    margin-right: 3px;
}

.message-item{
    display: flex;
    font-size: 14px;
}

.error-message{
    color: red;
    font-size: 14px;
}

.disabled-btn {
    opacity: 0.5; 
    cursor: not-allowed;
  }

@keyframes to-dropdown {
    0% {
        max-height: 0;
        opacity: 0;
        visibility: hidden;
    }
    100% {
        max-height: 300px; /* Ajusta según sea necesario */
        opacity: 1;
        visibility: visible;
    }
}
.dropdown-list-reason {
    position: absolute;
    top: 60px;
    background-color: white;
    width: 100%;
    padding: 18px 12px;
    display: flex;
    flex-direction: column;
    gap: 18px;
    animation: to-dropdown 0.2s ease-in-out;
    overflow: hidden;

    visibility: visible;
    opacity: 1;
    border-bottom: 1px solid #B7B7B7;
    border-left: 1px solid #B7B7B7;
    border-right: 1px solid #B7B7B7;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.dropdown-list-reason:hover {
        max-height: 300px; 
        opacity: 1;
        visibility: visible;
}

.dropdown-list-reason .reason-list{
    display: flex;
    justify-content: space-between;
}

.reason-list-values{
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.no-visible{
    display: none;
}

.selector-input{
    display: flex;
    border-radius: 15px;
    border: 1px solid #B7B7B7;
    background: #FFF;
    padding: 18px 12px;

}

.selector-input-container{
    position: relative;
}

.submit p{
    justify-content: flex-end;
}

.sent-message{
    display: flex;
    width: 200px;
    font-weight: 500;
    font-size: 18px;
    padding: 12px 12px 12px 0;
    align-items: center;
    gap: 10px;
    color: var(--primary-color);
}

.sent-message svg path{
    color: var(--primary-color)
}

.checkbox{
    margin: 10px;
    width: 18px;
    height: 18px;
}
.checkbox:checked{
    color: var(--primary-color);
}

@media screen and (max-width:750px){
    .container-form-work{
        padding: 40px 7vw !important;
    }
}
@media screen and (max-width: 600px) {
    .form-container .input-container{
        width: 100%;
    
    }
}
@media screen and (max-width: 450px) {
    .form-container{
        flex-direction: column;
    }
    .form-container .input-container{
        width: 100%;
    
    }
    
}